@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("http://fonts.cdnfonts.com/css/vivaldi");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gilroy-Regular', sans-serif; }

.home {
  background-color: #F6F6F6;
  padding: 2rem;
  height: 100vh; }

.home__heading {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  justify-content: space-evenly; }
  .home__heading__main {
    display: flex;
    flex-direction: column;
    padding-right: 20rem;
    justify-content: center;
    align-items: center; }
  .home__heading__name {
    font-family: vivaldi, serif;
    font-size: 14rem;
    text-align: center; }

.home__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.home__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.toggle {
  display: flex;
  align-self: flex-start; }
  .toggle--dark {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: none;
    margin: 1rem 1.5rem 1rem 0;
    border: 7px solid #C7C7C7;
    background-color: #111;
    cursor: pointer; }
  .toggle--light {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-sizing: none;
    margin: 1rem 3.5rem 1rem 0;
    border: 7px solid #C7C7C7;
    background-color: #fff;
    cursor: pointer; }

.learn-more {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #646464; }
  .learn-more__text {
    margin-bottom: 6px;
    font-size: 1.5rem; }

.know-more {
  display: none; }

.p-left-s {
  padding-left: 5rem; }

.p-left-m {
  padding-left: 10rem; }

.p-left-l {
  padding-left: 16rem; }

.m-b-m {
  margin-bottom: 4rem; }

.heading-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  text-shadow: -14px -14px 23px rgba(255, 255, 255, 0.24), 14px 14px 23px rgba(0, 0, 0, 0.24); }
  .heading-1--light {
    color: #fff; }

.heading-3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #646464; }

.underline {
  width: 15rem;
  margin-bottom: 3rem;
  background-color: #F6F6F6; }
  .underline--1 {
    margin: 3rem 2rem 1.4px 0;
    border-bottom: 5px solid #010B30;
    border-radius: 4px;
    background-color: #F6F6F6; }
  .underline--2 {
    margin-left: 2rem;
    border-bottom: 5px solid #010B30;
    border-radius: 4px;
    background-color: #F6F6F6; }

.line-l {
  width: 6rem;
  height: 4px;
  margin: 1rem 2rem 5rem 2rem;
  background-color: #000411; }

.line-s {
  width: 4rem;
  height: 3.6px;
  margin: 1rem 2rem 5rem 2rem;
  background-color: #000411; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 2rem;
  visibility: hidden;
  width: 12rem;
  background-color: transparent;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -1.2rem;
  right: 105%; }

.tooltip .tooltiptext--bottom {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 2rem;
  visibility: hidden;
  width: 12rem;
  background-color: transparent;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px; }

.tooltip:hover .tooltiptext {
  visibility: visible; }
