@import url("http://fonts.cdnfonts.com/css/gilroy-bold");
@import url("http://fonts.cdnfonts.com/css/vivaldi");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.p-left-s {
  padding-left: 5rem; }

.p-left-m {
  padding-left: 10rem; }

.p-left-l {
  padding-left: 15rem; }

.m-b-m {
  margin-bottom: 4rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 68.7em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Gilroy-Regular', sans-serif; }

.heading-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
  text-transform: uppercase;
  text-shadow: -14px -14px 23px rgba(255, 255, 255, 0.24), 14px 14px 23px rgba(17, 17, 17, 0.24); }
  .heading-1--light {
    color: #fff; }
  .heading-1--dark {
    color: #010B30; }
  .heading-1--contact {
    text-shadow: 5px 5px 23px rgba(255, 255, 255, 0.24); }
  .heading-1--m {
    font-size: 7.2rem; }

.heading-3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #646464; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 1.6rem; } }

.underline {
  width: 15rem;
  margin-bottom: 3rem;
  background-color: #F6F6F6; }
  .underline--1 {
    margin: 3rem 2rem 1.4px 0;
    border-bottom: 5px solid #010B30;
    border-radius: 4px;
    background-color: #F6F6F6; }
  .underline--2 {
    margin-left: 2rem;
    border-bottom: 5px solid #010B30;
    border-radius: 4px;
    background-color: #F6F6F6; }

.line-l {
  width: 6em;
  height: 4px;
  margin: 1em 2em 5em 2em;
  background-color: #000411; }

.line-s {
  width: 4em;
  height: 3.6px;
  margin: 1em 2em 5em 2em;
  background-color: #000411; }

.btn-primary, .btn-primary:link, .btn-primary:visited {
  background-color: #F6F6F6;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  margin-right: 4rem;
  border-radius: 10rem;
  transition: all .3s;
  font-family: 'Gilroy-Heavy', sans-serif;
  letter-spacing: 1px;
  color: #111;
  font-size: 1.7rem;
  box-shadow: -12px -12px 25px white, 12px 12px 25px rgba(165, 181, 248, 0.4); }
  @media only screen and (max-width: 56.25em) {
    .btn-primary, .btn-primary:link, .btn-primary:visited {
      font-size: 1.5rem; } }

.btn-primary:hover {
  box-shadow: 12px 12px 25px white, -10px -10px 25px rgba(165, 181, 248, 0.2); }

.btn-primary:active, .btn-primary:focus {
  box-shadow: -12px -12px 25px white, 10px 10px 25px rgba(165, 181, 248, 0.4); }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 2em;
  font-weight: 800;
  visibility: hidden;
  width: 10rem;
  background-color: transparent;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 1.1rem 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -1.2em;
  right: 105%; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 4rem;
  padding-top: 3rem; }
  .title__underline > div:first-child {
    margin-top: 0; }
  @media only screen and (max-width: 56.25em) {
    .title {
      align-items: center;
      padding-top: 10rem;
      padding-left: 0; } }

.title hr {
  width: 15rem; }

.home {
  background-color: #F6F6F6;
  font-size: .8em;
  padding: 2em;
  height: 100vh; }
  @media only screen and (max-width: 68.7em) {
    .home {
      font-size: .6em; } }
  @media only screen and (max-width: 56.25em) {
    .home {
      font-size: 0.5 0.5em; } }

.home__heading {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  justify-content: space-evenly; }
  @media only screen and (max-width: 46.8em) {
    .home__heading {
      grid-template-columns: 5fr 2fr;
      justify-content: space-around; } }
  @media only screen and (max-width: 37.5em) {
    .home__heading {
      grid-template-columns: 1fr;
      justify-content: space-around; } }
  .home__heading__main {
    display: flex;
    flex-direction: column;
    padding-right: 20rem;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 46.8em) {
      .home__heading__main {
        padding-right: 0;
        font-size: 1.2em; } }
  .home__heading__name {
    font-family: vivaldi, serif;
    font-size: 14em;
    text-align: center; }
  @media only screen and (max-width: 68.7em) {
    .home__heading__svg {
      width: 30rem;
      height: 30rem; } }
  @media only screen and (max-width: 56.25em) {
    .home__heading__svg {
      width: 25rem;
      height: 25rem; } }
  @media only screen and (max-width: 46.8em) {
    .home__heading__svg {
      display: none; } }

.home__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  @media only screen and (max-width: 37.5em) {
    .home__nav {
      display: none; } }

.home__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .home__top > h1:first-child {
      padding-left: 25%;
      font-size: 10em;
      margin-bottom: 3rem; } }

.toggle {
  display: flex;
  align-self: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .toggle {
      flex-direction: column; } }
  .toggle--dark {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-sizing: none;
    margin: 1em 1.5em 1em 0;
    border: 0.6rem solid #C7C7C7;
    background-color: #111;
    cursor: pointer; }
    @media only screen and (max-width: 68.7em) {
      .toggle--dark {
        margin: 1em 2.5em 1em 0;
        border: 0.4 0.1rem solid #C7C7C7; } }
    @media only screen and (max-width: 56.25em) {
      .toggle--dark {
        margin: 1em 2.5em 1em 0;
        border: 0.4 0.1rem solid #C7C7C7; } }
  .toggle--light {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-sizing: none;
    margin: 1em 3.5em 1em 0;
    border: 0.6rem solid #C7C7C7;
    background-color: #fff;
    cursor: pointer; }
    @media only screen and (max-width: 68.7em) {
      .toggle--light {
        margin: 1em 2.5em 1em 0;
        border: 0.4 0.1rem solid #C7C7C7; } }
    @media only screen and (max-width: 56.25em) {
      .toggle--light {
        margin: 1em 2.5em 1em 0;
        border: 0.4 0.1rem solid #C7C7C7; } }

.learn-more {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #646464; }
  @media only screen and (max-width: 56.25em) {
    .learn-more {
      display: none; } }
  .learn-more__text {
    margin-bottom: 6px;
    font-size: 1.7em; }
  .learn-more__svg {
    width: 2.5rem;
    height: 1.7rem; }
    @media only screen and (max-width: 68.7em) {
      .learn-more__svg {
        width: 2rem;
        height: 1rem; } }

.know-more {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .know-more {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      margin: auto;
      width: fit-content; } }

.about {
  background-color: #F6F6F6;
  padding: 2em;
  height: 100vh; }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    width: 60%;
    height: calc(100vh - 50%);
    padding: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        width: 100%;
        font-size: 2.2rem;
        justify-content: space-between;
        align-items: center; } }

.skills {
  height: 100vh; }
  .skills__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    gap: 2rem;
    font-size: 2rem;
    margin-top: 4rem;
    font-family: 'Gilroy-Light', sans-serif; }
    .skills__list > *:hover {
      text-transform: uppercase;
      font-family: 'Gilroy-Medium', sans-serif;
      cursor: zoom-in; }

.skills-container hr {
  width: 10rem; }

.education {
  background-color: #F6F6F6;
  padding-bottom: 10rem; }

.content-container {
  width: 70%;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 46.8em) {
    .content-container {
      width: 100%;
      text-align: center; } }

.content-list {
  padding: 2rem 4rem;
  line-height: 1.7;
  font-size: 1.9rem; }
  @media only screen and (max-width: 37.5em) {
    .content-list {
      font-size: 1.7rem; } }
  .content-list__title {
    color: #111;
    margin-bottom: 1.5rem; }
  .content-list__name {
    color: #646464;
    font-weight: 300;
    letter-spacing: 1.1px; }
    .content-list__name-link {
      text-decoration: none;
      color: #0f32c2;
      letter-spacing: 1.1px;
      font-family: 'Poppins', sans-serif; }
  .content-list__about {
    font-size: 1.6rem;
    margin: 1.5rem 0;
    color: #4b4b4b;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: justify; }
    @media only screen and (max-width: 46.8em) {
      .content-list__about {
        width: 60%;
        margin: 2rem auto;
        font-size: 1.5rem; } }
  .content-list__date {
    font-family: Georgia, 'Times New Roman', Times, serif; }

.contact {
  background-color: #000411;
  padding-bottom: 6rem; }

.contact-container {
  color: #A5A5A5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .contact-container {
      margin-top: 5rem;
      font-size: 3.4rem; } }
  .contact-container__text {
    text-align: center; }
    .contact-container__text__1 {
      display: block; }
    .contact-container__text--2 {
      display: block;
      font-family: 'Gilroy-Heavy', sans-serif;
      font-size: 3rem;
      margin-top: 2rem;
      text-transform: uppercase; }
  .contact-container__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Gilroy-Heavy', sans-serif;
    text-transform: uppercase;
    color: #C7C7C7; }
    .contact-container__links-item:link, .contact-container__links-item:visited {
      text-decoration: none;
      color: #C7C7C7;
      margin-bottom: 1rem; }
    .contact-container__links-item:active, .contact-container__links-item:hover {
      text-decoration: underline;
      color: #C7C7C7;
      margin-bottom: 1rem; }
