// font
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/vivaldi');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Bold'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Heavy'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Light'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Light.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Medium'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy-Regular'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Vivaldi';
    font-style: italic;
    font-weight: 400;
    src: local('Vivaldi'), url('https://fonts.cdnfonts.com/s/14715/VIVALDII.woff') format('woff');
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



                

// Color variables
$color-white: #fff;
$color-black: #111;
$color-grey: #646464;
$color-grey-light: #C7C7C7;
$color-grey-2: #A5A5A5;
$color-primary: #000411;
$color-dark-blue: #010B30;
$color-blue-light: #A5B5F8;
$bg-color-grey: #F6F6F6;




// base

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    transition: all 2s ease;
}
 
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
    border-radius: 6px;
    background: $color-white;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    max-height: 6px;
    // -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1);  
    background: darken($color-blue-light, 10);
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-dark-blue;
}

::selection {
  background-color: $color-blue-light;
  color: $color-white;
}

// darkmode
.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}

.same {
    filter: invert(1) hue-rotate(180deg);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%;
    }
    
    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}



.loader {
    font-family: vivaldi, serif;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    font-size: 10rem;
    color: $color-grey;
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Gilroy-Regular', sans-serif;
}

