.home {
    background-color: $bg-color-grey;
    font-size: .8em;
    padding: 2em;
    height: 100vh;

    @include respond(tab-land) {
        font-size: .6em;
    }
    @include respond(tab-port) {
        font-size: .5.5em;
    }
    @include respond(phone) {
        
    }
}

.home__heading {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    justify-content: space-evenly;

    @include respond(tab-port-2) {
        grid-template-columns: 5fr 2fr;
        justify-content: space-around;
    }
    @include respond(phone) {
        grid-template-columns: 1fr;
        justify-content: space-around;
    }

    &__main {
        // line-height: 7;
        display: flex;
        flex-direction: column;
        padding-right: 20rem;
        justify-content: center;
        align-items: center;

        @include respond(tab-port-2) {
            padding-right: 0;
            font-size: 1.2em;
        }
    }

    &__name {
        font-family: vivaldi, serif;
        font-size: 14em;
        text-align: center;

    }

    &__svg {

        @include respond(tab-land) {
            width: 30rem;
            height: 30rem;
        }
        @include respond(tab-port) {
            width: 25rem;
            height: 25rem;
        }
        @include respond(tab-port-2) {
            display: none;
        }
    }
}

.home__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @include respond(phone) {
        display: none;
    }
}

.home__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h1:first-child {
        padding-left: 10rem;
        @include respond(phone) {
            padding-left: 0;
            justify-self: center;
            font-size: 10em;
            margin-bottom: 3rem;
        }
    }
}

.toggle {
    display: flex;
    align-self: flex-start;
    @include respond(phone) {
        flex-direction: column;
    }
    
    &--dark {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        box-sizing: none;
        margin: 1em 1.5em 1em 0;
        border: .6rem solid $color-grey-light;
        background-color: $color-black;
        cursor: pointer;

        @include respond(tab-land) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(tab-port) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(phone) {
            display: none;
        }
    }

    &--light {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        box-sizing: none;
        margin: 1em 3.5em 1em 0;
        border: .6rem solid $color-grey-light;
        background-color: $color-white;
        cursor: pointer;

        @include respond(tab-land) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(tab-port) {
            display: none;
            // margin: 1em 2.5em 1em 0;
            // border: .4.1rem solid $color-grey-light;
        }
        @include respond(phone) {
            display: none;
        }
    }
}

.learn-more {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    color: $color-grey;
    animation: MoveUpDown 1s ease-in-out infinite;

    @include respond(tab-port) {
        display: none;
    }
    &__text {
        margin-bottom: 6px;
        font-size: 1.7em;
    }

    &__svg {
        width: 2.5rem;
        height: 1.7rem;
        @include respond(tab-land) {
            width: 2rem;
            height: 1rem;
        }
    }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 5px;
  }
  50% {
    // transform: translateY(2px);
    bottom: 8px;
  }
}

.know-more {
    display: none;

    @include respond(tab-port) {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translate(-50%, 0);

        display: block;
        margin: auto;
        width: fit-content;
        
        
    }
}



// nav

.not-active {
    display: none;
}

.visible {
    visibility: visible !important;
    display: contents !important;
    & > a {
        font-size: 1.8rem !important;
    }
    & > a:first-child {
        margin-left: 1rem;
    }
}

.nav {
    position: fixed;
    z-index: 999999;
    background-color: $color-white;
    top: -70px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;

    &__title {
        font-family: vivaldi, serif;
        font-size: 5rem;
        letter-spacing: 2px;
        margin-left: 2rem;
        text-decoration: none;
        color: $color-black;
        font-weight: bolder;
        // transition: all .2s;
    }

    &__links {
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        &-item {
            text-decoration: none;
            color: $color-grey;
            font-size: 2rem;

            &:hover {
                color: $color-black;
                font-weight: 800;
            }
        }

        @include respond(tab-port-2) {
            width: 70%;
            visibility: hidden;
        }
        @include respond(phone) {
            width: 100%;
            visibility: hidden;
            display: none;
        }
    }
}

.nav-mob {
    display: none;

    @include respond(tab-port-2) {
        display: contents;
    }
}


/* 
------------------------------------
     HAMBURGER ANIMATION
------------------------------------
*/
.hamburger_wrapper{
  float: right;
}

.hamburger {
  width: 2.5em;
  height: 2em;
  font-size: 11px;
  cursor: pointer;
  position: relative;
}

.first, .second, .third {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  height: .45em;
  width: 100%;
  float: left;
  border-radius: 2px;
  transition: all .35s ease-in-out;
  
}

.first {
  top: 0px;
}

.is-active .first {
  transform-origin: .167em .33em;
  transform: rotate(45deg) translate(0.167em, -0.25em);
}

.second {
  top: 50%;
  margin-top: -.25em;
}

.is-active .second {
  opacity: 0;
  transform: translateX(8em)
}

.third {
  bottom: 0px;
  transform-origin: .25em -0.33em;
}

.is-active .third {
  transform: rotate(-45deg) translate(-0.167em, 0.083em);
}


.navbar-brand{
  font-size: 30px;
  font-weight: bold;
}
.navbar{
  color:#000000;
  background-color: #fff;
}

/**Navbar burger animations**/
.navbar-toggler{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
  border-color: white;
  border: none;
  outline: none;
}
