.container {

}

.home {
    background-color: $bg-color-grey;
    font-size: .8em;
    padding: 2em;
    height: 100vh;

    @include respond(tab-land) {
        font-size: .6em;
    }
    @include respond(tab-port) {
        font-size: .5.5em;
    }
    @include respond(phone) {
        
    }
}

.home__heading {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    justify-content: space-evenly;

    @include respond(tab-port-2) {
        grid-template-columns: 5fr 2fr;
        justify-content: space-around;
    }
    @include respond(phone) {
        grid-template-columns: 1fr;
        justify-content: space-around;
    }

    &__main {
        // line-height: 7;
        display: flex;
        flex-direction: column;
        padding-right: 20rem;
        justify-content: center;
        align-items: center;

        @include respond(tab-port-2) {
            padding-right: 0;
            font-size: 1.2em;
        }
    }

    &__name {
        font-family: vivaldi, serif;
        font-size: 14em;
        text-align: center;

    }

    &__svg {

        @include respond(tab-land) {
            width: 30rem;
            height: 30rem;
        }
        @include respond(tab-port) {
            width: 25rem;
            height: 25rem;
        }
        @include respond(tab-port-2) {
            display: none;
        }
    }
}

.home__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @include respond(phone) {
        display: none;
    }
}

.home__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h1:first-child {
        @include respond(phone) {
            padding-left: 25%;
            font-size: 10em;
            margin-bottom: 3rem;
        }
    }
}

.toggle {
    display: flex;
    align-self: flex-start;
    @include respond(phone) {
        flex-direction: column;
    }
    
    &--dark {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        box-sizing: none;
        margin: 1em 1.5em 1em 0;
        border: .6rem solid $color-grey-light;
        background-color: $color-black;
        cursor: pointer;

        @include respond(tab-land) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(tab-port) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(phone) {

        }
    }

    &--light {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        box-sizing: none;
        margin: 1em 3.5em 1em 0;
        border: .6rem solid $color-grey-light;
        background-color: $color-white;
        cursor: pointer;

        @include respond(tab-land) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(tab-port) {
            margin: 1em 2.5em 1em 0;
            border: .4.1rem solid $color-grey-light;
        }
        @include respond(phone) {
            
        }
    }
}

.learn-more {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    color: $color-grey;

    @include respond(tab-port) {
        display: none;
    }
    &__text {
        margin-bottom: 6px;
        font-size: 1.7em;
    }

    &__svg {
        width: 2.5rem;
        height: 1.7rem;
        @include respond(tab-land) {
            width: 2rem;
            height: 1rem;
        }
    }
}

.know-more {
    display: none;

    @include respond(tab-port) {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translate(-50%, 0);

        display: block;
        margin: auto;
        width: fit-content;
        
        
    }
}



// nav

.nav {
    position: fixed;
    z-index: 999999;
    background-color: $color-white;
    top: -70px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;

    &__title {
        font-family: vivaldi, serif;
        font-size: 5rem;
        letter-spacing: 2px;
        margin-left: 2rem;
        text-decoration: none;
        color: $color-black;
        font-weight: bolder;
    }

    &__links {
        width: 50%;
        display: flex;
        justify-content: space-evenly;

        &-item {
            text-decoration: none;
            color: $color-grey;
            font-size: 2rem;

            &:hover {
                color: $color-black;
                font-weight: 800;
            }
        }

        @include respond(tab-port-2) {
            display: none;
        }
    }
}